/*reset marginesow i dopelnien*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #901811;
}
#wrapper {
    max-width: 1000px;
    margin: 0 auto;
    /*    background-color: white;*/
}

#log{
    float: right;
    background: #BF5C00;
    display: inline-block;
    width: 15%;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    text-align: center;

    padding: 10px 15px;
    margin: 0px 1px 1px 0px;
    border: 1px solid #901811;
    border-radius: 3px;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /*
            box-shadow: 0px 2px 3px gray;
            -moz-box-shadow: 0px 2px 3px gray;
            -webkit-box-shadow: 0px 2px 3px gray;
    */
}

header{
    padding: 10px;

    overflow: hidden;
    margin: auto;
    /*	background: rgba(255, 255, 255, 0.5);*/
    filter: alpha(opacity=50);
}

header img {

    /*    width: 100%;*/
    display: block;
    margin: auto;

}

nav {
    width: 100%;
    /*    background-color: #BF5C00;*/

}

a.menu1{
    background: #BF5C00;
    display: inline-block;
    width: 12%;
    color: white;
    text-decoration: none;
    text-align: center;

    padding: 10px 10px;
    margin: 0px 1px 1px 0px;
    border: 1px solid #901811;
    border-radius: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 2px 3px gray;
    -moz-box-shadow: 0px 2px 3px gray;
    -webkit-box-shadow: 0px 2px 3px gray;
}

a.menu1:hover{
    background-color: #901811;
}

.login1{
    float: right;
    background: #BF5C00;
    display: inline-block;
    width: 12%;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    text-align: center;

    padding: 10px 15px;
    margin: 0px 1px 1px 0px;
    border: 1px solid #901811;
    border-radius: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 2px 3px gray;
    -moz-box-shadow: 0px 2px 3px gray;
    -webkit-box-shadow: 0px 2px 3px gray;
}

.login1:hover{
    background-color: #901811;
}
a.menu{
    background: #BF5C00;
    display: inline-block;
    width: 15%;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    text-align: center;

    padding: 10px 15px;
    margin: 0px 1px 1px 0px;
    border: 1px solid #901811;
    border-radius: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 2px 3px gray;
    -moz-box-shadow: 0px 2px 3px gray;
    -webkit-box-shadow: 0px 2px 3px gray;
}
.przesylka{

    display: block;
    background-color: white;
    border-radius: 5px;
    padding: 20px 50px 10px 38%;


}
a.menuSend{
    background: #BF5C00;
    display: block;
    width: 40%;
    color: white;
    text-decoration: none;
    text-align: center;

    padding: 10px 15px;
    margin: 1px 1px 5px 0px;
    border: 1px solid #901811;
    border-radius: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 2px 3px gray;
    -moz-box-shadow: 0px 2px 3px gray;
    -webkit-box-shadow: 0px 2px 3px gray;
}
a.menuSend:hover{
    background-color: #901811;
}
.register{
    float: right;
    background: #BF5C00;
    display: inline-block;
    width: 15%;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    text-align: center;

    padding: 10px 15px;
    margin: 0px 1px 1px 0px;
    border: 1px solid #901811;
    border-radius: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 2px 3px gray;
    -moz-box-shadow: 0px 2px 3px gray;
    -webkit-box-shadow: 0px 2px 3px gray;
}

.register:hover{
    background-color: #901811;
}

.login{
    float: right;
    background: #BF5C00;
    display: inline-block;
    width: 15%;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    text-align: center;

    padding: 10px 15px;
    margin: 0px 1px 1px 0px;
    border: 1px solid #901811;
    border-radius: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 2px 3px gray;
    -moz-box-shadow: 0px 2px 3px gray;
    -webkit-box-shadow: 0px 2px 3px gray;
}

.login:hover{
    background-color: #901811;
}

a.menu:hover{

    background-color: #901811;
}

.active{
    background-color: #901811;
}

section{
    display: block;
    background-color: white;
    border-radius: 5px;
}
articel{

    margin-top: 30px;

}

article h1{
    font-size: 30px;
    text-align: center;
    margin: 0 10% 20px;
    padding-bottom: 15px;
    border-bottom: 2px solid #901811;



}

img.left{
    float:left;
    margin: 0px 10px 10px 0;
    padding: 10px;
    width: 25%;
    border-radius: 50% 30%;

}
article p{
    text-align: justify;
    line-height: 25px;
    font-size:18px;
    padding: 15px 0;
    overflow: auto;
    padding-right: 5px;

}

footer{
    text-align: left;
    border-radius: 5px;
    padding-left: 5px;
    margin: auto;
    height:50px;
    background-color: #BF5C00;
    color: white;
    overflow: auto;

}

/*register.jsp*/
form div.row{
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

form label{
    width: 30%;
    text-align: end;
    display: block;
    float: left;
    margin-right: 20px;
}

form input, form select{
    padding: 5px;
    border-radius: 5px;
    width: 200px;
}

form textarea{
    padding: 5px;
    border-radius: 5px;
    width: 500px;
}

form input[type="checkbox"]{
    position: relative;
    left: 30%;
    width: auto;
}

form span{
    position: relative;
    left: 30%;
}

form input[type="submit"]{
    width: 200px;

    cursor: pointer;
}

form div.row:last-of-type{
    text-align: center;
}

/*
!*login.jsp*!
form input[type="submit" value="login"]{
    width: 100px;
    
    cursor: pointer;
}*/
input.invalid, textarea.invalid{
    border: 3px solid red;
}

input.valid, textarea.valid{
    border: 3px solid green;
}

.error {
    color: red;
}

.ok {
    color: green;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {display:none;}

.slider.round {
    border-radius: 25px;

}

.slider.round:before {
    border-radius: 50%;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #901811;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/*widok - editEmpAccount4_admin*/
.table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}
.table-all{border:1px solid #ccc}
.table-all tr{border-bottom:1px solid #111111}
.striped tbody tr:nth-child(even){background-color:#f1f1f1}
.table-all tr:nth-child(odd){background-color:#fff}
.table-all tr:nth-child(even){background-color:#f1f1f1}
.table-all td,.table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.table-all th:first-child,.table-all td:first-child{padding-left:16px}

.myButton {
    -moz-box-shadow:inset 0px 39px 0px -24px #BF5C00;
    -webkit-box-shadow:inset 0px 39px 0px -24px #BF5C00;
    box-shadow:inset 0px 39px 0px -24px #BF5C00;
    background-color:#BF5C00;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    padding:6px 15px;
    text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
    background-color:#BF5C00;
}
.myButton:active {
    position:relative;
    top:1px;
}

/*Modal in EditEmpAccount admin*/
.myModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.myModal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}